*{
    background-color: lightpink;
    font-family: Tahoma, sans-serif;
}

h1{
    background-color: red;
}

h2{
    background-color: aqua;
    font-weight: bold;
}

h1, h2{
    display: inline-block;
    padding: 5px;
}

li{
    font-size: 20px;
    margin-bottom: 5px;
}

p{
    font-size: 19px;
    font-weight: bold;
}

img{
    display: block;
    margin: 0 auto;
}
